<?xml version="1.0" encoding="iso-8859-1" standalone="yes"?>
<config>

<service name="todo-service" firewall-control="auto" />

<RecoverManager ResetTimeframe="10" RecoverThreshold="3" />

<!-- default false disabled default watchdog and allows overwrite -->
<HealthManager>
  <CpuLimitWatchDog limit="50" />
  <MemoryLimitWatchdog limit="100" />
</HealthManager>

<Endpoint name="any" ip="*" port="9100" status="true" >
  <WebHandler class="TodoEditHandler" />
</Endpoint>

</config>

